@use "../../../styles/shapes.scss" as *;
@use "../../../styles/colors.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

$height: 50px;

.header {
  position: fixed;
  width: 100%;
  height: $height;
  background-color: rgba($primary-color, 0.8);
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.content-spacer {
  display: block;
  height: $height;
}

.username {
  font-size: medium;
  font-weight: normal;
}

ul,
li,
h3 {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba($secondary-color, 0.6);
  margin: $border-radius 0px;
}

.close-icon {
  content: "close";
}

.main-icon-button {
  position: fixed;
  border-radius: 50%;
  height: $height;
  width: $height;
  min-width: $height;
  line-height: 0;
  left: 50%;
  bottom: $height / 3;
  padding: 0;
  margin: 0;
  outline: 5px solid $background-color;
  transform: translateX(-50%);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: $small-breakpoint) {
  .header {
    bottom: 0;
  }

  .content-spacer {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    bottom: $height;
    width: 100%;
    background-color: rgba($primary-color, 0.8);
    z-index: 9;
    padding: $border-radius * 2 16px $border-radius 16px; //mat-toolbar
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
  }

  .mobile-menu-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  .mobile-menu ul {
    display: block;
  }

  .mobile-menu li,
  .mobile-menu button,
  .mobile-menu a {
    width: 100%;
    //text-align: start;
  }

  .minimized-icon-button {
    bottom: $height * 0.125;
    height: $height * 0.75;
    width: $height * 0.75;
    min-width: $height * 0.75;
    outline: none;
  }
}

@media screen and (min-width: $small-breakpoint) {
  .mobile-only {
    display: none;
  }

  li {
    margin-left: 1rem;
  }
}
