@use "../../../../styles/breakpoints.scss" as *;
@use "../../../../styles/shapes.scss" as *;
@use "../../../../styles/colors.scss" as *;

$sidebar-width: 175px;
$sidebar-margin: $space * 5;

:host {
  display: none;
}

$divider-top-distance: 50px - $space * 2;
$divider-height-subs: 150px;
$divider-bottom-distance: $divider-height-subs - $divider-top-distance;
.vertical-divider {
  position: absolute;
  display: inline-block;
  height: calc(100% - $divider-height-subs);
  right: 0;
  top: $divider-top-distance;
}

.file-drop {
  border: 2px dashed $secondary-color;
  border-radius: $border-radius;
  margin: $space * 4 0;
  color: rgba($secondary-color, 0.8);
  text-align: center;
  user-select: none;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-label {
  font-weight: 500;
  font-size: small;
  margin: 0 0 $space 0;
  user-select: none;
}

.sidebar-text {
  font-size: 0.9rem;
}

.top-container {
  display: block;
  width: 100%;
}

.bottom-container {
  margin-bottom: ($sidebar-margin * -3) + $divider-bottom-distance;
  text-align: end;
}

$header-height: 50px;
//If desktop
@media screen and (min-width: $small-breakpoint) {
  :host {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    position: fixed;
    padding: $sidebar-margin $sidebar-margin $sidebar-margin 0;
    width: $sidebar-width - $sidebar-margin;
    height: calc(100% - $header-height - $sidebar-margin * 2);
    background-color: rgba($background-color, 0.8);
    overflow-x: hidden;
    overflow-wrap: break-word;
    z-index: 1;
  }
}
