img {
  background-color: #fff1;
}

img[alt] {
  text-align: center;
  font-weight: lighter;
  font-size: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

img[alt]::before {
  font-size: medium;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  word-wrap: break-word;
  max-height: 100%;
  max-width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-shadow: 0 0 1.125rem #fff;
}
