@use "../../styles/breakpoints.scss" as *;
@use "../../styles/shapes.scss" as *;
@use "../../styles/colors.scss" as *;

$min-media-width: 150px;
$media-grid-gap-h: $space * 4;
//$media-grid-gap-h: 20px;

.media-container {
  width: 100%;
  min-height: $small-breakpoint;
}

.media-grid {
  display: grid;
  padding: 0px;
  margin: $space * 4 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax($min-media-width, 1fr));
  grid-auto-rows: minmax(100px, calc(#{$min-media-width} + 2rem));
  //gap: 0.8rem $media-grid-gap-h;
  gap: $media-grid-gap-h;
}

.browse-container {
  display: flex;
}

.hovered-media {
  outline: 1px solid rgba($secondary-color, 0.25);
}

.media-list-footer {
  display: block;
  text-align: center;
  margin-top: 32px;
}

.page-buttons {
  display: inline-block;
}

.page-buttons > button,
.page-buttons > span {
  margin: $space;
}

//I just wanted to do this progress slider thing
$page-divider-width: 124px;
.page-divider-container {
  width: $page-divider-width;
  overflow: hidden;
  display: flex;
  margin: auto;
}

.page-divider {
  width: 100%;
  margin-top: $space * 4;
  margin: 0;
  padding: 0;
  border-left: 0;
  border-right: 0;
  //border: 0;
  //height: 1px;
  color: rgba($primary-color, 0.5);
}

.page-progress {
  color: rgba($primary-color, 0.8);
  width: 0%;
}

$sidebar-width: 175px;
$sidebar-margin: $space * 5;

//If desktop
@media screen and (min-width: $small-breakpoint) {
  .media-container {
    margin-left: $sidebar-width + $sidebar-margin;
  }

  .media-tall {
    grid-row: span 2 / auto;
  }

  .media-wide {
    grid-column: span 2 / auto;
  }
}

//If wider than 5 media + sidebar + gaps
@media screen and (min-width: (($min-media-width + $media-grid-gap-h) * 6) + $sidebar-width + $sidebar-margin) {
  .media-grid {
    grid-template-columns: repeat(5, minmax($min-media-width, 1fr));
    grid-auto-rows: minmax(calc(#{$min-media-width} + 2rem), 11vw);
  }
}

//If wider than app-container
@media screen and (min-width: $xlarge-breakpoint + $space * 8) {
  .media-grid {
    grid-auto-rows: ($xlarge-breakpoint + ($space * 8)) * 0.11;
  }
}
