@use "../../../styles/shapes.scss" as *;

$subtitle-height: 2.2rem;

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $border-radius;
}

a {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.media {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
  //margin-bottom: calc(#{$subtitle-height} + #{$border-radius});
  flex-shrink: 0;
  object-position: center 16.666%; //top portion of rule of thirds (6 vertical slices for css)
  user-select: none;
}

$subtitle-padding: $subtitle-height / 4;
// This way we can easily move it over image
.subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  flex-shrink: 0;

  position: relative;
  bottom: calc(#{$subtitle-height} + #{$subtitle-padding * 2});
  margin-bottom: calc(#{-$subtitle-height} - #{$subtitle-padding * 2});
  max-height: calc(#{$subtitle-height} + #{$subtitle-padding * 2});
  overflow: hidden;

  padding-top: $subtitle-padding;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.subtitle {
  line-height: $subtitle-height / 2;
  font-size: small;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: $border-radius;
  text-shadow: 0px 1px 3px #202;
}
