header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
ul,
li,
h3 {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  margin-left: 1rem;
}
