.form-container {
  display: flex;
}

form {
  margin: 0 auto;
}

mat-form-field {
  display: block;
}

button[type="submit"] {
  margin-left: 100%;
  transform: translateX(-100%);
}

.success-notification {
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  background-color: green;
  padding: 8px;
  border-radius: 4px;
}
