<app-header title="Intergallery"></app-header>
<div style="padding: 0 16px">
  <app-container class="browse-container">
    <div class="sidebar">
      <button mat-flat-button color="accent" style="width: 100%">
        Add Media
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <div class="file-drop">Drop files here.</div>
      <div class="media-info">
        <h4 class="sidebar-label">Name</h4>
        <p class="sidebar-text">Lorem ipsum</p>
      </div>
      <hr class="vertical-divider" />
    </div>
    <div class="media-container">
      <ul class="media-grid">
        <li
          *ngFor="let media of mediaList | async"
          class="media-grid-item"
          [ngClass]="{
            'media-tall': media.name === '02',
            'media-wide': media.name === '03'
          }"
        >
          <app-media-card [media]="media"></app-media-card>
        </li>
      </ul>

      <div class="form-container">
        <form
          [formGroup]="mediaForm"
          (ngSubmit)="submitHandler()"
          autocomplete="off"
        >
          <h2>Create Media</h2>
          <div [hidden]="isFormSuccess">
            <mat-form-field appearance="outline"
              ><mat-label>Name</mat-label>
              <input matInput required type="text" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>URL</mat-label>
              <input matInput required type="url" formControlName="url" />
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="isLocal"
              >Local</mat-checkbox
            >
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="mediaForm.invalid"
            >
              Create
            </button>
          </div>
          <p *ngIf="isFormSuccess" class="success-notification">
            Submitted successfully.
          </p>

          <pre>{{ mediaForm.value | json }}</pre>
        </form>
      </div>

      <button mat-raised-button color="primary" (click)="getUserMedia()">
        Get Media
      </button>

      <ol>
        <li *ngFor="let media of mediaList | async">{{ media | json }}</li>
      </ol>
    </div>
  </app-container>
</div>
