@use "../../styles/breakpoints.scss" as *;
@use "../../styles/shapes.scss" as *;
@use "../../styles/colors.scss" as *;

.form-container {
  display: flex;
}

form {
  margin: 0 auto;
}

mat-form-field {
  display: block;
}

button[type="submit"] {
  margin-left: 100%;
  transform: translateX(-100%);
}

.success-notification {
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  background-color: green;
  padding: 8px;
  border-radius: 4px;
}

$min-media-width: 150px;
$media-grid-gap-h: $border-radius * 4;
//$media-grid-gap-h: 20px;

.media-grid {
  display: grid;
  padding: 0px;
  margin: $border-radius * 4 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax($min-media-width, 1fr));
  grid-auto-rows: minmax(100px, calc(#{$min-media-width} + 2rem));
  //gap: 0.8rem $media-grid-gap-h;
  gap: $media-grid-gap-h;
}

.browse-container {
  display: flex;
}

.hovered-media {
  outline: 1px solid rgba($secondary-color, 0.25);
}

$sidebar-width: 175px;
$sidebar-margin: $border-radius * 5;

//If desktop
@media screen and (min-width: $small-breakpoint) {
  .media-container {
    margin-left: $sidebar-width + $sidebar-margin;
  }

  .media-tall {
    grid-row: span 2 / auto;
  }

  .media-wide {
    grid-column: span 2 / auto;
  }
}

//If wider than 5 media + sidebar + gaps
@media screen and (min-width: (($min-media-width + $media-grid-gap-h) * 6) + $sidebar-width + $sidebar-margin) {
  .media-grid {
    grid-template-columns: repeat(5, minmax($min-media-width, 1fr));
    grid-auto-rows: minmax(calc(#{$min-media-width} + 2rem), 11vw);
  }
}

//If wider than app-container
@media screen and (min-width: $xlarge-breakpoint + $border-radius * 8) {
  .media-grid {
    grid-auto-rows: ($xlarge-breakpoint + ($border-radius * 8)) * 0.11;
  }
}
