@use "../../styles/breakpoints.scss" as *;

.form-container {
  display: flex;
}

form {
  margin: 0 auto;
}

mat-form-field {
  display: block;
}

button[type="submit"] {
  margin-left: 100%;
  transform: translateX(-100%);
}

.success-notification {
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  background-color: green;
  padding: 8px;
  border-radius: 4px;
}

$min-media-width: 150px;
$media-grid-gap-h: 20px;

.media-grid {
  display: grid;
  padding: 0px;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax($min-media-width, 1fr));
  grid-auto-rows: minmax(100px, calc(#{$min-media-width} + 2rem));
  gap: 0.8rem $media-grid-gap-h;
}

@media screen and (min-width: $small-breakpoint) {
  .media-tall {
    grid-row: span 2 / auto;
  }

  .media-wide {
    grid-column: span 2 / auto;
  }
}

@media screen and (min-width: ($min-media-width + $media-grid-gap-h) * 5) {
  .media-grid {
    grid-template-columns: repeat(5, minmax($min-media-width, 1fr));
  }
}
